# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# IDE / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# TensorFlow / Model checkpoints
*.h5
*.hdf5
checkpoints/
